In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event  Unnamed: 4
0  1/1/2017           32          6   Rain         NaN
1  1/2/2017           35          7  Sunny         NaN
2  1/3/2017           28          2   Snow         NaN

In [11]:
pd.read_excel('weather_data.xlsx','Sheet1')

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [14]:
weather_data = {
    'day': ['2017-01-01','2017-01-02','2017-01-03'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-01-02           35          7  Sunny
2  2017-01-03           28          2   Snow

In [18]:
weather_data = [
    ('2017-01-01',32,6,'Rain'),
    ('2017-01-02',35,7,'Sunny'),
    ('2017-01-03',28,2,'Snow')
]
df = pd.DataFrame(weather_data, columns=['day','temperature','windspeed','event'])
df

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-01-02           35          7  Sunny
2  2017-01-03           28          2   Snow

In [23]:
weather_data = [
    {'day': '2017-01-01','temperature': 43, 'windspeed': 7, 'event': 'Rain'},
    {'day': '2017-01-02','temperature': 33, 'windspeed': 8, 'event': 'Sunny'}
 ]
pd.DataFrame(weather_data)

          day  event  temperature  windspeed
0  2017-01-01   Rain           43          7
1  2017-01-02  Sunny           33          8