In [1]:
import pandas as pd

In [2]:
y = pd.Period('2020')

In [3]:
y.start_time

Timestamp('2020-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [5]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [6]:
y.is_leap_year

True

In [8]:
m = pd.Period('2025-1', freq='M')

In [9]:
m.start_time

Timestamp('2025-01-01 00:00:00')

In [10]:
m.end_time

Timestamp('2025-01-31 23:59:59.999999999')

In [11]:
h = pd.Period('2025-1 00:00:00', freq='H')

In [12]:
h.start_time

Timestamp('2025-01-01 00:00:00')

In [13]:
h.end_time

Timestamp('2025-01-01 00:59:59.999999999')

In [14]:
h+1

Period('2025-01-01 01:00', 'H')

In [23]:
h+pd.offsets.Hour(-12)

<-6 * Hours>

In [28]:
d = pd.period_range('2017','2019', freq='Q-JAN')
d

PeriodIndex(['2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1',
             '2019Q2', '2019Q3', '2019Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [30]:
import numpy as np

In [32]:
data = pd.Series(np.random.randn(len(d)), d)
data

2017Q4   -0.416018
2018Q1   -0.965242
2018Q2   -0.022977
2018Q3   -0.844187
2018Q4    0.583145
2019Q1   -0.635948
2019Q2   -0.014902
2019Q3    1.282310
2019Q4    1.966177
Freq: Q-JAN, dtype: float64

In [34]:
data['2018':'2019']

2018Q4    0.583145
2019Q1   -0.635948
2019Q2   -0.014902
2019Q3    1.282310
2019Q4    1.966177
Freq: Q-JAN, dtype: float64

In [45]:
data = pd.read_csv('WMT.csv')

In [46]:
data.set_index('List Item', inplace=True)

In [47]:
data

            2017Q1  2017Q2   2017Q3   2017Q4  2018Q1
List Item
Revenue     115904    2518    25185   585858  141417
Expense     252525  252525  4747474  9899898  474747
Profit     1414141  222222   585858    48548  363636

In [50]:
data = data.T
data

List Item  Revenue  Expense   Profit
2017Q1      115904   252525  1414141
2017Q2        2518   252525   222222
2017Q3       25185  4747474   585858
2017Q4      585858  9899898    48548
2018Q1      141417   474747   363636

In [52]:
series = pd.period_range('2017', periods=5, freq='Q-DEC')
series

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [53]:
data['Start Time'] = series.map(lambda x: x.start_time)

In [54]:
data

List Item  Revenue  Expense   Profit Start Time
2017Q1      115904   252525  1414141 2017-01-01
2017Q2        2518   252525   222222 2017-04-01
2017Q3       25185  4747474   585858 2017-07-01
2017Q4      585858  9899898    48548 2017-10-01
2018Q1      141417   474747   363636 2018-01-01

In [55]:
data['End Time'] = series.map(lambda x: x.end_time)

In [63]:
data = data[['Start Time','End Time', 'Revenue','Expense', 'Profit']]
data

List Item Start Time                      End Time  Revenue  Expense   Profit
2017Q1    2017-01-01 2017-03-31 23:59:59.999999999   115904   252525  1414141
2017Q2    2017-04-01 2017-06-30 23:59:59.999999999     2518   252525   222222
2017Q3    2017-07-01 2017-09-30 23:59:59.999999999    25185  4747474   585858
2017Q4    2017-10-01 2017-12-31 23:59:59.999999999   585858  9899898    48548
2018Q1    2018-01-01 2018-03-31 23:59:59.999999999   141417   474747   363636